/* Page */
.page {
  font-family: sans-serif;
}

.page__body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  flex-flow: row wrap;
}

.section_background-powerblue {
  background-color: powderblue;
}
